node_modules
dist

apps/admin/.env
apps/admin/dist

apps/backend/.env

apps/terminal/.env
apps/terminal/dist
apps/terminal/release

apps/customer/.env
apps/customer/dist
apps/backend/migrate-data.js
apps/backend/migrate-storage.js
apps/backend/update-image-urls.js
